body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(238, 238, 238);
}

.jumbotron {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN1bnJpc2V8ZW58MHx8MHx8) ;
  background-size: cover;
  background-position: bottom;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid blue;
}

.hours {
  width: 80vw;
  border: 3px solid blue;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
  font-size: 30px;
  color: blue;
}

.listItems {
  list-style: none;
}

.display-3 {
  color: blue;
}

.form-control{
  width: 200px
}

.time {
  width: 75px;
}

